.green {
  color: #5c7858; }

.pink {
  color: #eec5b3; }

div.navbar + div {
  margin-top: 40px; }

.center {
  text-align: center; }

.center-circle {
  background: rgba(238, 197, 179, 0.8);
  border-radius: 500px;
  height: 300px;
  width: 300px;
  margin: 10px auto 0 auto; }
  .center-circle h3 {
    padding-top: 75px;
    width: 100%;
    text-align: center; }

.small {
  font-size: 75%; }

body {
  background: url("/images/cranes.png") top right no-repeat; }

body > .container {
  background-color: rgba(255, 255, 255, 0.9); }

#hero {
  margin-top: 100px; }
  #hero h1 {
    font-size: 54pt; }
  #hero h2 {
    font-size: 36pt; }
